@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
  box-sizing: border-box;
}

h1 {
    font-family: Agbalumo;
    font-size: 40px;
    text-align: center;
}

 h2 {
    font-family: Cookie;
    font-size: 35px;
}

body {
    font-family: Playpen Sans;
}

section {
  display: -webkit-flex;
  display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    background-color: antiquewhite;
    color: #79866c;
}

.bannerimg {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.nav {
    overflow: hidden;
    padding: 5px;
    background-color: rgb(58, 68, 35);
}

.nav a {
    color: rgb(255, 255, 255);
    background-color: rgb(58, 68, 35);
    text-align: center;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
  
.nav a:hover {
    color: black;
    background: rgb(247, 191, 72);
}


a {
    text-decoration: none;
}

button {
    display: block;
    padding: 10px;
    margin: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 75, 38);
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

button:hover {
    color: black;
    background: rgb(247, 191, 72);
}

img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #a3b49e;
  padding: 10px;
}

.recetas {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

#imgrecetas {
    overflow   : hidden;
    width      : 100%
}

.container-recetas {
  position: relative;
  width: 40%;
  margin: 2px;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.texto-recetas {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.685);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.container-recetas:hover .texto-recetas {
  opacity: 1;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    padding:3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(247, 191, 72);
    font-size: 12px;
    text-align: center;
}

@media (max-width: 768px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
}

article {
    text-align: center;
}

.nav a {
    float: none;
    display: block;
    text-align: center;
}
.nav-right {
    float: none;
  }
}